:root {
    --darker: #233142;
    --dark: #455d7a;
    --red: #f95959;
    --white: #e3e3e3;
} 
.home-form{
    color: var(--white);
}

.home-header {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    color: white;
    font-size: 30px;
}

.home-form {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.home-flights {
    height: 100%;
    width: 100%;
    margin-top: 50px;
}