.input-component {
    all: unset;
    width: 500px;
    height: 45px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #f95959;
    transition: 0.3s ease-in-out;
}
.input-component:placeholder-shown{
    color: white;
}
.input-component:focus{
    border-radius: 5px;
    background-color:  #f95959;
    color: black;
}